<ul>
  <% if(!currentUser){ %>
    <a href = "/register"><li> Signup </li> </a>
    <a href = "/login"><li> Log in </li> </a>
  <% } else { %>
    <a> Signed In as <%= currentUser.username %></a>
    <a href = "/logout"><li> Logout </li> </a>
  <% } %>
</ul>

<% if(error && error.length>0){ %>
  <b> <%= error %> </b>
<% } %>
<% if(success && success.length>0){ %>
  <b> <%= success %> </b>
<% } %>

<h1> Edit Comment </h1>

<form action="/campgrounds/<%= campground_id %>/comments/comment._id?_method=PUT" method="POST">
  <input type="text" value="<%= comment.text %>" name="comment[text]">
  <button> Submit </button>
</form>
