<ul>
  <% if(!currentUser){ %>
    <a href = "/register"><li> Signup </li> </a>
    <a href = "/login"><li> Log in </li> </a>
  <% } else { %>
    <a> Signed In as <%= currentUser.username %></a>
    <a href = "/logout"><li> Logout </li> </a>
  <% } %>
</ul>

<h1> Thi is show page </h1>

<div>
<h2><%= campground.name %></h2>
<img src = "<%= campground.image %>">
<%= campground.description %>

<% campground.comments.forEach(function(comment){ %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %>
  <a href="/campgrounds/<%= campground._id %>/comments/new">
  <button type="button" name="button"> Add new comment</button>
  </a>
</div>
